@charset "UTF-8";
@import url("https://use.typekit.net/sfn1efw.css");
@keyframes animatetext {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100%); } }

/* line 13, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
* {
  margin: 0;
  padding: 0; }

/* line 16, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
body {
  font-family: proxima-nova, sans-serif;
  background: white; }

/* line 19, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
section.paginafull {
  float: left;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: hidden; }

/* line 28, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
section.paginafull#inicio article#holahello {
  width: 200px;
  height: 100vh;
  float: left;
  overflow: hidden;
  background: white; }
  /* line 34, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
  section.paginafull#inicio article#holahello div {
    width: 25.5vh;
    width: calc(var(--vh, 1vh)*25.5);
    -webkit-transform: rotate(-90deg) translate(-100vh);
    transform: rotate(-90deg) translate(-100vh);
    -webkit-transform: rotate(-90deg) translate(calc(var(--vh, 1vh)*-100));
    transform: rotate(-90deg) translate(calc(var(--vh, 1vh)*-100));
    -webkit-transform-origin: top left;
    transform-origin: top left;
    white-space: nowrap; }
    /* line 44, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
    section.paginafull#inicio article#holahello div span {
      display: inline-block;
      font-size: 12em;
      font-family: proxima-nova, sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      line-height: calc(var(--vh, 1vh)*28);
      animation: animatetext 40s linear infinite; }
      /* line 52, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
      section.paginafull#inicio article#holahello div span ul li {
        list-style: none;
        display: inline;
        padding: 0 5px;
        color: #000;
        font-weight: 900; }
      /* line 58, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
      section.paginafull#inicio article#holahello div span ul li:nth-child(odd) {
        color: #ec1c24; }

/* line 61, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
section.paginafull#inicio article#bbdogt {
  width: 37%;
  height: 100vh;
  float: left;
  position: relative;
  background: #000; }
  /* line 67, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
  section.paginafull#inicio article#bbdogt .hhbg-img {
    position: relative;
    width: 200px;
    top: 35px;
    left: 45px; }
    /* line 72, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
    section.paginafull#inicio article#bbdogt .hhbg-img img {
      width: 100%;
      height: auto; }
  /* line 75, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
  section.paginafull#inicio article#bbdogt .hhbg-text {
    position: absolute;
    width: 90%;
    bottom: 0;
    left: 8%; }
    /* line 80, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
    section.paginafull#inicio article#bbdogt .hhbg-text p {
      font-size: 1.5em;
      font-weight: 600;
      line-height: 30px;
      text-transform: none;
      color: #ffffff; }
      /* line 86, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
      section.paginafull#inicio article#bbdogt .hhbg-text p span {
        color: #ec1c24;
        text-transform: uppercase; }

/* line 90, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
section.paginafull#inicio article#s01imgs {
  width: calc(63% - 200px);
  height: 100vh;
  float: left;
  background: white; }
  /* line 95, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
  section.paginafull#inicio article#s01imgs .s01i-wrapp {
    position: absolute; }
    /* line 97, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
    section.paginafull#inicio article#s01imgs .s01i-wrapp img {
      width: 100%; }
  /* line 99, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
  section.paginafull#inicio article#s01imgs #s01iw-01 {
    top: 0;
    left: 35%;
    width: 47%;
    z-index: 3; }
  /* line 104, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
  section.paginafull#inicio article#s01imgs #s01iw-02 {
    bottom: 0;
    left: 53%;
    width: 30%;
    z-index: 2; }
  /* line 109, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
  section.paginafull#inicio article#s01imgs #s01iw-03 {
    bottom: -2%;
    right: 3%;
    width: 38%;
    z-index: 1; }
  /* line 114, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
  section.paginafull#inicio article#s01imgs #s01iw-04 {
    bottom: -5%;
    right: 10%;
    width: 15%;
    z-index: 1; }

/* line 122, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
section.paginafull#pilar01 article#nosotros {
  width: 37%;
  height: 100vh;
  float: left;
  position: relative;
  background: white; }
  /* line 128, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
  section.paginafull#pilar01 article#nosotros .nosotros-text {
    position: absolute;
    width: 90%;
    top: 5%;
    left: 9%; }
    /* line 133, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
    section.paginafull#pilar01 article#nosotros .nosotros-text p {
      font-size: 1.3em;
      font-weight: 600;
      line-height: 30px;
      text-transform: none;
      color: #000; }
      /* line 139, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
      section.paginafull#pilar01 article#nosotros .nosotros-text p span {
        color: #ec1c24; }
  /* line 141, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
  section.paginafull#pilar01 article#nosotros .nosotros-img {
    position: absolute; }
    /* line 143, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
    section.paginafull#pilar01 article#nosotros .nosotros-img img {
      width: 100%;
      height: auto; }
  /* line 146, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
  section.paginafull#pilar01 article#nosotros .nosotros-img#ni-01 {
    width: 78%;
    bottom: 10%;
    left: 42%; }
  /* line 150, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
  section.paginafull#pilar01 article#nosotros .nosotros-img#ni-02 {
    width: 120%;
    bottom: -4%;
    left: -40%; }

/* line 155, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
section.paginafull#pilar01 article#p01content {
  width: 63%;
  height: 100vh;
  float: left;
  background: white; }
  /* line 160, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
  section.paginafull#pilar01 article#p01content .p01c-wrapp#p01cw-ttl {
    position: absolute;
    width: 48%;
    bottom: 5%;
    right: 3%;
    z-index: 1; }
    /* line 166, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
    section.paginafull#pilar01 article#p01content .p01c-wrapp#p01cw-ttl #p01cw-img01 {
      position: absolute;
      width: 14%;
      top: 2%;
      left: 12%;
      z-index: 0; }
      /* line 172, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
      section.paginafull#pilar01 article#p01content .p01c-wrapp#p01cw-ttl #p01cw-img01 img {
        width: 100%;
        height: auto; }
    /* line 175, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
    section.paginafull#pilar01 article#p01content .p01c-wrapp#p01cw-ttl p {
      font-size: 1.2em;
      color: #ec1c24;
      text-align: right;
      text-transform: uppercase;
      padding-right: 9%;
      margin-bottom: 5px; }
    /* line 182, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
    section.paginafull#pilar01 article#p01content .p01c-wrapp#p01cw-ttl h2 {
      font-size: 7.8em;
      line-height: 0.8em;
      font-weight: 900;
      color: #000;
      text-align: right;
      text-transform: uppercase; }
  /* line 189, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
  section.paginafull#pilar01 article#p01content .p01c-wrapp#p01cw-img02 {
    position: absolute;
    width: 45%;
    top: -25%;
    right: 5%;
    z-index: 0; }
    /* line 195, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
    section.paginafull#pilar01 article#p01content .p01c-wrapp#p01cw-img02 img {
      width: 100%;
      height: auto; }

/* line 201, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
section.paginafull#pilar02 article#p02work01 {
  width: 47%;
  height: 100vh;
  float: left;
  position: relative; }
  /* line 206, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
  section.paginafull#pilar02 article#p02work01 #p02ww-img01 {
    position: absolute;
    width: 50%;
    top: 10%;
    left: -30%;
    z-index: 1; }
    /* line 212, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
    section.paginafull#pilar02 article#p02work01 #p02ww-img01 img {
      width: 100%;
      height: auto; }
  /* line 215, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
  section.paginafull#pilar02 article#p02work01 .p02w-wrapp#p02ww-ttl {
    position: absolute;
    width: 98%;
    top: 15%;
    left: 14%;
    z-index: 0; }
    /* line 221, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
    section.paginafull#pilar02 article#p02work01 .p02w-wrapp#p02ww-ttl #p02ww-img02 {
      position: absolute;
      width: 8%;
      top: 29%;
      right: 4%;
      z-index: 0; }
      /* line 227, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
      section.paginafull#pilar02 article#p02work01 .p02w-wrapp#p02ww-ttl #p02ww-img02 img {
        width: 100%;
        height: auto; }
    /* line 230, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
    section.paginafull#pilar02 article#p02work01 .p02w-wrapp#p02ww-ttl p {
      position: absolute;
      width: 45%;
      font-size: 1.1em;
      line-height: 1.2em;
      color: #ec1c24;
      text-align: left;
      text-transform: uppercase;
      right: 9%;
      bottom: 22%; }
    /* line 240, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
    section.paginafull#pilar02 article#p02work01 .p02w-wrapp#p02ww-ttl h2 {
      font-size: 7.8em;
      line-height: 0.8em;
      font-weight: 900;
      color: #000;
      text-align: left;
      text-transform: uppercase; }

/* line 247, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
section.paginafull#pilar02 article#p02work02 {
  width: 53%;
  height: 100vh;
  float: left;
  position: relative; }
  /* line 253, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
  section.paginafull#pilar02 article#p02work02 div img {
    width: 100%;
    height: auto; }
  /* line 256, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
  section.paginafull#pilar02 article#p02work02 #p02ww-img03 {
    position: absolute;
    width: 85%;
    bottom: 0%;
    left: -50%;
    z-index: 0; }
  /* line 262, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
  section.paginafull#pilar02 article#p02work02 #p02ww-img04 {
    position: absolute;
    width: 65%;
    top: -15%;
    right: 5%;
    z-index: 0; }
  /* line 268, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
  section.paginafull#pilar02 article#p02work02 #p02ww-img05 {
    position: absolute;
    width: 23%;
    bottom: 15%;
    right: 10%;
    z-index: 0; }

/*# sourceMappingURL=style.css.map */