@charset "UTF-8";
@import url("https://use.typekit.net/sfn1efw.css");
@keyframes animatetext {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100%); } }

/* line 11, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/animaciones.sass */
.astyle-01 {
  opacity: 1;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px); }

/* line 13, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
* {
  margin: 0;
  padding: 0; }

/* line 16, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
::-webkit-scrollbar {
  display: none; }

/* line 18, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
.hidden {
  display: none !important; }

/* line 20, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
body {
  font-family: proxima-nova, sans-serif;
  background: white; }
  /* line 23, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
  body .outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none; }
    /* line 33, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
    body .outer-wrapper .wrapper {
      display: flex;
      flex-direction: row;
      width: 500vw;
      transform: rotate(90deg) translateY(-100vh);
      transform-origin: top left; }
      /* line 39, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
      body .outer-wrapper .wrapper section.paginafull {
        float: left;
        position: relative;
        width: 100vw;
        height: 100vh; }
      /* line 47, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
      body .outer-wrapper .wrapper section.paginafull article {
        height: calc(100vh - 45px); }
      /* line 52, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
      body .outer-wrapper .wrapper section.paginafull#inicio article#holahello {
        width: 200px;
        float: left;
        overflow: hidden;
        background: white; }
        /* line 57, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        body .outer-wrapper .wrapper section.paginafull#inicio article#holahello div {
          width: 25.5vh;
          width: calc(var(--vh, 1vh)*25.5);
          -webkit-transform: rotate(-90deg) translate(-100vh);
          transform: rotate(-90deg) translate(-100vh);
          -webkit-transform: rotate(-90deg) translate(calc(var(--vh, 1vh)*-100));
          transform: rotate(-90deg) translate(calc(var(--vh, 1vh)*-100));
          -webkit-transform-origin: top left;
          transform-origin: top left;
          white-space: nowrap; }
          /* line 67, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
          body .outer-wrapper .wrapper section.paginafull#inicio article#holahello div span {
            display: inline-block;
            font-size: 12em;
            font-family: proxima-nova, sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            line-height: calc(var(--vh, 1vh)*28);
            animation: animatetext 40s linear infinite; }
            /* line 75, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
            body .outer-wrapper .wrapper section.paginafull#inicio article#holahello div span ul li {
              list-style: none;
              display: inline;
              padding: 0 5px;
              color: #000;
              font-weight: 900; }
            /* line 81, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
            body .outer-wrapper .wrapper section.paginafull#inicio article#holahello div span ul li:nth-child(odd) {
              color: #ec1c24; }
      /* line 84, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
      body .outer-wrapper .wrapper section.paginafull#inicio article#bbdogt {
        width: 37%;
        float: left;
        position: relative;
        background: #000; }
        /* line 89, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        body .outer-wrapper .wrapper section.paginafull#inicio article#bbdogt .hhbg-img {
          position: relative;
          width: 200px;
          top: 35px;
          left: 45px; }
          /* line 94, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
          body .outer-wrapper .wrapper section.paginafull#inicio article#bbdogt .hhbg-img img {
            width: 100%;
            height: auto; }
        /* line 97, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        body .outer-wrapper .wrapper section.paginafull#inicio article#bbdogt .hhbg-text {
          position: absolute;
          width: 84%;
          bottom: 0;
          left: 8%; }
          /* line 102, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
          body .outer-wrapper .wrapper section.paginafull#inicio article#bbdogt .hhbg-text p {
            font-size: 1.5em;
            font-weight: 600;
            line-height: 30px;
            text-transform: none;
            color: #ffffff; }
            /* line 108, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
            body .outer-wrapper .wrapper section.paginafull#inicio article#bbdogt .hhbg-text p span {
              color: #ec1c24;
              text-transform: uppercase; }
      /* line 112, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
      body .outer-wrapper .wrapper section.paginafull#inicio article#s01imgs {
        width: calc(63% - 200px);
        float: left;
        background: white; }
        /* line 116, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        body .outer-wrapper .wrapper section.paginafull#inicio article#s01imgs .s01i-wrapp {
          position: absolute; }
          /* line 118, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
          body .outer-wrapper .wrapper section.paginafull#inicio article#s01imgs .s01i-wrapp img {
            width: 100%; }
        /* line 120, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        body .outer-wrapper .wrapper section.paginafull#inicio article#s01imgs #swipescroll {
          display: none;
          bottom: 10%;
          left: 49%;
          width: 7%;
          z-index: 3; }
        /* line 126, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        body .outer-wrapper .wrapper section.paginafull#inicio article#s01imgs #mousescroll {
          bottom: 35%;
          left: 51%;
          width: 3%;
          z-index: 3; }
          /* line 131, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
          body .outer-wrapper .wrapper section.paginafull#inicio article#s01imgs #mousescroll span {
            display: block;
            font-size: 12px;
            font-weight: 600;
            color: #ec1c24;
            text-transform: uppercase;
            text-align: center; }
        /* line 138, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        body .outer-wrapper .wrapper section.paginafull#inicio article#s01imgs #s01iw-01 {
          top: 0;
          left: 35%;
          width: 47%;
          z-index: 4; }
        /* line 143, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        body .outer-wrapper .wrapper section.paginafull#inicio article#s01imgs #s01iw-02 {
          bottom: 0;
          left: 53%;
          width: 30%;
          z-index: 3; }
        /* line 148, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        body .outer-wrapper .wrapper section.paginafull#inicio article#s01imgs #s01iw-03 {
          bottom: -2%;
          right: 3%;
          width: 38%;
          z-index: 2; }
        /* line 153, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        body .outer-wrapper .wrapper section.paginafull#inicio article#s01imgs #s01iw-04 {
          bottom: 0%;
          right: -10%;
          width: 15%;
          z-index: 4; }
      /* line 161, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
      body .outer-wrapper .wrapper section.paginafull#pilar01 article#nosotros {
        width: 37%;
        float: left;
        position: relative;
        background: white; }
        /* line 166, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        body .outer-wrapper .wrapper section.paginafull#pilar01 article#nosotros .nosotros-text {
          position: absolute;
          width: 90%;
          top: 5%;
          left: 9%; }
          /* line 171, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
          body .outer-wrapper .wrapper section.paginafull#pilar01 article#nosotros .nosotros-text p {
            font-size: 1.3em;
            font-weight: 600;
            line-height: 30px;
            text-align: right;
            text-transform: none;
            color: #000; }
            /* line 178, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
            body .outer-wrapper .wrapper section.paginafull#pilar01 article#nosotros .nosotros-text p span {
              color: #ec1c24; }
        /* line 180, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        body .outer-wrapper .wrapper section.paginafull#pilar01 article#nosotros .nosotros-img {
          position: absolute; }
          /* line 182, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
          body .outer-wrapper .wrapper section.paginafull#pilar01 article#nosotros .nosotros-img img {
            width: 100%;
            height: auto; }
        /* line 185, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        body .outer-wrapper .wrapper section.paginafull#pilar01 article#nosotros .nosotros-img#ni-01 {
          width: 78%;
          bottom: 10%;
          left: 42%;
          z-index: 0; }
        /* line 190, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        body .outer-wrapper .wrapper section.paginafull#pilar01 article#nosotros .nosotros-img#ni-02 {
          width: 120%;
          bottom: -4%;
          left: -40%;
          z-index: 1; }
      /* line 196, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
      body .outer-wrapper .wrapper section.paginafull#pilar01 article#p01content {
        width: 63%;
        float: left;
        background: white; }
        /* line 200, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        body .outer-wrapper .wrapper section.paginafull#pilar01 article#p01content .p01c-wrapp#p01cw-ttl {
          position: absolute;
          width: 48%;
          bottom: 5%;
          right: 3%;
          z-index: 1; }
          /* line 206, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
          body .outer-wrapper .wrapper section.paginafull#pilar01 article#p01content .p01c-wrapp#p01cw-ttl #p01cw-img01 {
            position: absolute;
            width: 14%;
            top: 2%;
            left: 12%;
            z-index: 0; }
            /* line 212, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
            body .outer-wrapper .wrapper section.paginafull#pilar01 article#p01content .p01c-wrapp#p01cw-ttl #p01cw-img01 img {
              width: 100%;
              height: auto; }
          /* line 215, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
          body .outer-wrapper .wrapper section.paginafull#pilar01 article#p01content .p01c-wrapp#p01cw-ttl p {
            font-size: 1.2em;
            color: #ec1c24;
            text-align: right;
            text-transform: uppercase;
            padding-right: 9%;
            margin-bottom: 5px; }
          /* line 222, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
          body .outer-wrapper .wrapper section.paginafull#pilar01 article#p01content .p01c-wrapp#p01cw-ttl h2 {
            font-size: 7.8em;
            line-height: 0.8em;
            font-weight: 900;
            color: #000;
            text-align: right;
            text-transform: uppercase; }
        /* line 229, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        body .outer-wrapper .wrapper section.paginafull#pilar01 article#p01content .p01c-wrapp#p01cw-img02 {
          position: absolute;
          width: 45%;
          top: -25%;
          right: 5%;
          z-index: 0; }
          /* line 235, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
          body .outer-wrapper .wrapper section.paginafull#pilar01 article#p01content .p01c-wrapp#p01cw-img02 img {
            width: 100%;
            height: auto; }
      /* line 241, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
      body .outer-wrapper .wrapper section.paginafull#pilar02 article#p02work01 {
        width: 47%;
        float: left;
        position: relative; }
        /* line 245, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        body .outer-wrapper .wrapper section.paginafull#pilar02 article#p02work01 #p02ww-img01 {
          position: absolute;
          width: 50%;
          top: 10%;
          left: -30%;
          z-index: 1; }
          /* line 251, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
          body .outer-wrapper .wrapper section.paginafull#pilar02 article#p02work01 #p02ww-img01 img {
            width: 100%;
            height: auto; }
        /* line 254, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        body .outer-wrapper .wrapper section.paginafull#pilar02 article#p02work01 .p02w-wrapp#p02ww-ttl {
          position: absolute;
          width: 98%;
          top: 15%;
          left: 14%;
          z-index: 0; }
          /* line 260, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
          body .outer-wrapper .wrapper section.paginafull#pilar02 article#p02work01 .p02w-wrapp#p02ww-ttl #p02ww-img02 {
            position: absolute;
            width: 8%;
            top: 29%;
            right: 4%;
            z-index: 0; }
            /* line 266, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
            body .outer-wrapper .wrapper section.paginafull#pilar02 article#p02work01 .p02w-wrapp#p02ww-ttl #p02ww-img02 img {
              width: 100%;
              height: auto; }
          /* line 269, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
          body .outer-wrapper .wrapper section.paginafull#pilar02 article#p02work01 .p02w-wrapp#p02ww-ttl p {
            position: absolute;
            width: 45%;
            font-size: 1.1em;
            line-height: 1.2em;
            color: #ec1c24;
            text-align: left;
            text-transform: uppercase;
            right: 9%;
            bottom: 22%; }
          /* line 279, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
          body .outer-wrapper .wrapper section.paginafull#pilar02 article#p02work01 .p02w-wrapp#p02ww-ttl h2 {
            font-size: 7.8em;
            line-height: 0.8em;
            font-weight: 900;
            color: #000;
            text-align: left;
            text-transform: uppercase; }
      /* line 286, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
      body .outer-wrapper .wrapper section.paginafull#pilar02 article#p02work02 {
        width: 53%;
        float: left;
        position: relative; }
        /* line 291, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        body .outer-wrapper .wrapper section.paginafull#pilar02 article#p02work02 div img {
          width: 100%;
          height: auto; }
        /* line 294, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        body .outer-wrapper .wrapper section.paginafull#pilar02 article#p02work02 #p02ww-img03 {
          position: absolute;
          width: 85%;
          bottom: 0%;
          left: -50%;
          z-index: 0; }
        /* line 300, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        body .outer-wrapper .wrapper section.paginafull#pilar02 article#p02work02 #p02ww-img04 {
          position: absolute;
          width: 65%;
          top: -15%;
          right: 5%;
          z-index: 0; }
        /* line 306, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        body .outer-wrapper .wrapper section.paginafull#pilar02 article#p02work02 #p02ww-img05 {
          position: absolute;
          width: 23%;
          bottom: 15%;
          right: 10%;
          z-index: 0; }
      /* line 315, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
      body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work03 {
        width: 65%;
        float: left;
        position: relative; }
        /* line 320, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work03 div img {
          width: 100%;
          height: auto; }
        /* line 323, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work03 #p03ww-img01 {
          position: absolute;
          width: 25%;
          top: 20%;
          left: -10%;
          z-index: 0; }
        /* line 329, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work03 #p03ww-img02 {
          position: absolute;
          width: 15%;
          top: 2%;
          left: 20%;
          z-index: 0; }
        /* line 335, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work03 #p03ww-img03 {
          position: absolute;
          width: 18%;
          top: 22%;
          left: 45%;
          z-index: 0; }
        /* line 341, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work03 #p03ww-img04 {
          position: absolute;
          width: 43%;
          bottom: 4%;
          right: 25%;
          z-index: 2; }
        /* line 347, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work03 .p03w-wrapp#p03ww-ttl {
          position: absolute;
          width: 75%;
          bottom: 10%;
          left: -38%;
          z-index: 0; }
          /* line 353, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
          body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work03 .p03w-wrapp#p03ww-ttl #p03ww-img05 {
            position: absolute;
            width: 20%;
            top: 0%;
            left: 28%;
            z-index: 0; }
          /* line 359, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
          body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work03 .p03w-wrapp#p03ww-ttl p {
            font-size: 1.1em;
            line-height: 1.2em;
            color: #ec1c24;
            text-align: right;
            text-transform: uppercase;
            padding-left: 45%;
            margin-bottom: 5px; }
          /* line 367, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
          body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work03 .p03w-wrapp#p03ww-ttl h2 {
            font-size: 7.8em;
            line-height: 0.8em;
            font-weight: 900;
            color: #000;
            text-align: right;
            text-transform: uppercase; }
      /* line 375, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
      body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work04 {
        width: 35%;
        float: left;
        position: relative;
        background: #ec1c24; }
        /* line 381, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work04 div img {
          width: 100%;
          height: auto; }
        /* line 384, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        body .outer-wrapper .wrapper section.paginafull#pilar03 article#p03work04 #p03ww-img06 {
          position: absolute;
          width: 200%;
          bottom: 0%;
          right: -40%;
          z-index: 2; }
      /* line 393, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
      body .outer-wrapper .wrapper section.paginafull#contactanos article#p04contacto01 {
        width: 20%;
        float: left;
        position: relative;
        background: #ec1c24;
        z-index: 1; }
      /* line 399, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
      body .outer-wrapper .wrapper section.paginafull#contactanos article#p04contacto02 {
        width: 80%;
        float: left;
        position: relative; }
        /* line 404, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        body .outer-wrapper .wrapper section.paginafull#contactanos article#p04contacto02 div img {
          width: 100%;
          height: auto; }
        /* line 407, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        body .outer-wrapper .wrapper section.paginafull#contactanos article#p04contacto02 #p04cw-img01 {
          position: absolute;
          width: 85%;
          bottom: 0%;
          left: -25%;
          z-index: -1; }
        /* line 413, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        body .outer-wrapper .wrapper section.paginafull#contactanos article#p04contacto02 #p04cw-form {
          position: absolute;
          width: 45%;
          top: 30%;
          right: 5%;
          z-index: 1; }
          /* line 420, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
          body .outer-wrapper .wrapper section.paginafull#contactanos article#p04contacto02 #p04cw-form form .form-group {
            display: flex;
            flex-wrap: wrap; }
            /* line 423, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
            body .outer-wrapper .wrapper section.paginafull#contactanos article#p04contacto02 #p04cw-form form .form-group label {
              display: none; }
            /* line 425, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
            body .outer-wrapper .wrapper section.paginafull#contactanos article#p04contacto02 #p04cw-form form .form-group input, body .outer-wrapper .wrapper section.paginafull#contactanos article#p04contacto02 #p04cw-form form .form-group textarea {
              font-size: 1.3em;
              font-weight: 600;
              font-family: proxima-nova, sans-serif;
              border: none;
              border-bottom: solid 2px #000;
              border-radius: 0;
              padding-left: 0; }
            /* line 433, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
            body .outer-wrapper .wrapper section.paginafull#contactanos article#p04contacto02 #p04cw-form form .form-group .help-block ul {
              margin-bottom: -1rem; }
          /* line 435, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
          body .outer-wrapper .wrapper section.paginafull#contactanos article#p04contacto02 #p04cw-form form input.btn {
            color: #000;
            font-size: 1.2em;
            font-weight: 600;
            text-transform: uppercase;
            background: #ec1c24;
            border: none;
            border-radius: 0;
            padding: 12px 25px;
            opacity: 1; }
        /* line 445, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        body .outer-wrapper .wrapper section.paginafull#contactanos article#p04contacto02 #p04cw-info {
          position: absolute;
          width: 45%;
          bottom: 5%;
          right: 5%;
          z-index: 0; }
          /* line 451, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
          body .outer-wrapper .wrapper section.paginafull#contactanos article#p04contacto02 #p04cw-info h3 {
            font-size: 5em;
            font-weight: 900;
            color: #ec1c24;
            text-align: right;
            margin: 0; }
          /* line 457, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
          body .outer-wrapper .wrapper section.paginafull#contactanos article#p04contacto02 #p04cw-info p {
            font-size: 0.9em;
            font-weight: 700;
            color: #000;
            text-align: right;
            margin: 0; }
            /* line 463, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
            body .outer-wrapper .wrapper section.paginafull#contactanos article#p04contacto02 #p04cw-info p a {
              color: #000;
              text-decoration: none; }
  /* line 467, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
  body .menubar {
    width: 100%;
    height: 45px;
    position: absolute;
    display: flex;
    flex-direction: row;
    background: #ec1c24;
    bottom: 0; }
    /* line 475, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
    body .menubar .menu-logo {
      width: 90px;
      height: 30px;
      position: absolute;
      left: 10px;
      top: 7px; }
      /* line 481, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
      body .menubar .menu-logo img {
        width: 100%; }
    /* line 483, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
    body .menubar .menu-socialmedia {
      width: 200px;
      height: 40px;
      position: absolute;
      right: 10px;
      top: 3px;
      text-align: right; }
      /* line 490, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
      body .menubar .menu-socialmedia a {
        color: white;
        font-size: 26px;
        line-height: 1.5;
        padding-right: 10px; }

/* line 496, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }

/* line 501, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=style.css.map */