@charset "UTF-8";
@import url("https://use.typekit.net/sfn1efw.css");
/* line 11, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
* {
  margin: 0;
  padding: 0; }

/* line 14, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
body {
  font-family: proxima-nova, sans-serif;
  background: white; }

/* line 18, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
section.paginafull#inicio {
  float: left;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: hidden; }
  /* line 25, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
  section.paginafull#inicio article#holahello {
    width: 200px;
    height: 100vh;
    float: left;
    overflow: hidden;
    background: white; }
    /* line 31, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
    section.paginafull#inicio article#holahello div {
      width: 25.5vh;
      width: calc(var(--vh, 1vh)*25.5);
      -webkit-transform: rotate(-90deg) translate(-100vh);
      transform: rotate(-90deg) translate(-100vh);
      -webkit-transform: rotate(-90deg) translate(calc(var(--vh, 1vh)*-100));
      transform: rotate(-90deg) translate(calc(var(--vh, 1vh)*-100));
      -webkit-transform-origin: top left;
      transform-origin: top left;
      white-space: nowrap; }
      /* line 41, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
      section.paginafull#inicio article#holahello div span {
        display: inline-block;
        font-size: 12em;
        font-family: proxima-nova, sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        line-height: calc(var(--vh, 1vh)*28);
        animation: animatetext 40s linear infinite; }
        /* line 49, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        section.paginafull#inicio article#holahello div span ul li {
          list-style: none;
          display: inline;
          padding: 0 5px;
          color: #000;
          font-weight: 900; }
        /* line 55, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        section.paginafull#inicio article#holahello div span ul li:nth-child(odd) {
          color: #ec1c24; }
  /* line 58, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
  section.paginafull#inicio article#bbdogt {
    width: 37%;
    height: 100vh;
    float: left;
    position: relative;
    background: #000; }
    /* line 64, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
    section.paginafull#inicio article#bbdogt .hhbg-img {
      position: relative;
      width: 200px;
      top: 35px;
      left: 45px; }
      /* line 69, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
      section.paginafull#inicio article#bbdogt .hhbg-img img {
        width: 100%;
        height: auto; }
    /* line 72, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
    section.paginafull#inicio article#bbdogt .hhbg-text {
      position: absolute;
      width: 90%;
      bottom: 0;
      left: 8%; }
      /* line 77, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
      section.paginafull#inicio article#bbdogt .hhbg-text p {
        font-size: 26px;
        font-weight: 600;
        line-height: 30px;
        text-transform: uppercase;
        color: #ffffff; }
        /* line 83, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
        section.paginafull#inicio article#bbdogt .hhbg-text p span {
          color: #ec1c24; }
  /* line 86, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
  section.paginafull#inicio article#s01imgs {
    width: calc(63% - 200px);
    height: 100vh;
    float: left;
    background: white; }
    /* line 91, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
    section.paginafull#inicio article#s01imgs .s01i-wrapp {
      position: absolute; }
      /* line 93, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
      section.paginafull#inicio article#s01imgs .s01i-wrapp img {
        width: 100%; }
    /* line 95, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
    section.paginafull#inicio article#s01imgs #s01iw-01 {
      top: 0;
      left: 35%;
      width: 600px;
      z-index: 3; }
    /* line 100, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
    section.paginafull#inicio article#s01imgs #s01iw-02 {
      bottom: 0;
      left: 53%;
      width: 375px;
      z-index: 2; }
    /* line 105, /Users/rcampos/OneDrive - OMNICOM-GT/BBDO The Work/BBDO/web development/Website 2020/web development/DevSite-BBDO-GT-30Años/css/style.sass */
    section.paginafull#inicio article#s01imgs #s01iw-03 {
      bottom: -15px;
      right: 3%;
      width: 480px;
      z-index: 1; }

@keyframes animatetext {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100%); } }

/*# sourceMappingURL=style.css.map */