// SASS by Rodrigo Campos

//FONTS
@import url("https://use.typekit.net/sfn1efw.css");
// font-family: proxima-nova, sans-serif;

// COLORS
@import "variables.sass";

//===--->  GENERAL
*
    margin: 0
    padding: 0
body
    font-family: proxima-nova, sans-serif
    background: white
//===--->  SECCION 01
section.paginafull#inicio
    float: left
    position: relative
    width: 100%
    height: 100vh
    overflow-y: hidden
    //=-> TEXTO ANIMADO VERTICAL
    article#holahello
        width: 200px
        height: 100vh
        float: left
        overflow: hidden
        background: white
        div
            width: 25.5vh
            width: calc(var(--vh, 1vh)*25.5)
            -webkit-transform: rotate(-90deg) translate(-100vh)
            transform: rotate(-90deg) translate(-100vh)
            -webkit-transform: rotate(-90deg) translate(calc(var(--vh, 1vh)*-100))
            transform: rotate(-90deg) translate(calc(var(--vh, 1vh)*-100))
            -webkit-transform-origin: top left
            transform-origin: top left
            white-space: nowrap
            span
                display: inline-block
                font-size: 12em
                font-family: proxima-nova, sans-serif
                font-weight: 700
                text-transform: uppercase
                line-height: calc(var(--vh, 1vh)*28)
                animation: animatetext 40s linear infinite
                ul li
                    list-style: none
                    display: inline
                    padding: 0 5px
                    color: $black
                    font-weight: 900
                ul li:nth-child(odd)
                    color: $red
    //=->   BBDO GUATEMALA
    article#bbdogt
        width: 37%
        height: 100vh
        float: left
        position: relative
        background: $black
        .hhbg-img
            position: relative
            width: 200px
            top: 35px
            left: 45px
            img
                width: 100%
                height: auto
        .hhbg-text
            position: absolute
            width: 90%
            bottom: 0
            left: 8%
            p
                font-size: 26px
                font-weight: 600
                line-height: 30px
                text-transform: uppercase
                color: #ffffff
                span
                    color: $red
    //=->   IMAGENES SECCION 01
    article#s01imgs
        width: calc(63% - 200px)
        height: 100vh
        float: left
        background: white
        .s01i-wrapp
            position: absolute
            img
                width: 100%
        #s01iw-01
            top: 0
            left: 35%
            width: 600px
            z-index: 3
        #s01iw-02
            bottom: 0
            left: 53%
            width: 375px
            z-index: 2
        #s01iw-03
            bottom: -15px
            right: 3%
            width: 480px
            z-index: 1

//====---->>   ANIMACION
@keyframes animatetext
    0%
        transform: translateX(0)
    100%
        transform: translateX(-100%)
